.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  color: #fff;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.contents {
  padding: 16px;
}

.howto-title {
  font-size: 24px;
  font-weight: bold;
}

.howto-list {
  list-style-type: none;
  padding: 16px;
}

.howto-item + .howto-item {
  margin-top: 8px;
}

.description {
  font-size: 16px;
  display: flex;
}

.description-title {
  font-weight: bold;
}

.description-content {
  margin-left: 8px;
}

.description-content::before {
  content: '-> ';
}

.key-name {
  margin-top: 24px;
}
